{
	"$schema": "https://schemas.wp.org/trunk/wp-env.json",
	"mappings": {
		"wp-content/plugins/debloater-pro": "../debloater-pro"
	},
	"env": {
		"tests": {
			"mappings": {
				"wp-content/plugins/debloater-pro": "../debloater-pro"
			}
		}
	}
}
